In [530]:
import json_utils as ju
import datetime
import pandas as pd
import numpy as np
import nltk.cluster
from nltk.tokenize import RegexpTokenizer, word_tokenize
from nltk.corpus import stopwords
from gensim.models.doc2vec import TaggedDocument, Doc2Vec
from IPython.display import clear_output

In [437]:
# Config
stops = set(stopwords.words('english'))
jsonfiles = ['chicagotribune0.json','chicagotribune1.json',\
             'chicagotribune2.json','chicagotribune3.json']
cluster_num = 10

In [374]:
# Function defs
def article_tokenize(article):
    article_clean = str(article[1:][0][:-1])
    tokenizer = RegexpTokenizer(r'\w+')
    tokens = tokenizer.tokenize(article_clean)
    tokens = [i.lower() for i in tokens if i not in stops]
    return tokens

def extract_article_date(article):
    return article[1][-1][1]

In [376]:
# Load articles from JSON
jsons = ju.get_jsons(jsonfiles,'')
article = next(jsons)

In [377]:
# Clean articles
article_tokens = []
parsed_dates = []
for article in jsons:
    article_temp = ju.get_article_text(article['html'])
    
    # Parse failures always have length 1; 2+ otherwise
    if (len(article_temp) > 1):
        tokens = article_tokenize(article_temp)
        article_tokens.append(tokens)
        if (len(article_temp[1]) > 1):
            article_date = extract_article_date(article_temp)
            parsed_dates.append(article_date)
        else:
            parsed_dates.append('')

print("Tribune article parsing complete.")
parsed_dates = pd.to_datetime(parsed_dates)

/Users/robs/projects/hackabetterworld/social_listening/news/json_utils.py:33: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("html.parser"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 33 of the file /Users/robs/projects/hackabetterworld/social_listening/news/json_utils.py. To get rid of this warning, pass the additional argument 'features="html.parser"' to the BeautifulSoup constructor.

  soup = BeautifulSoup(html)

Tribune article parsing complete.

/Users/robs/anaconda/envs/hackabetterworld/lib/python3.6/site-packages/dateutil/parser/_parser.py:1204: UnknownTimezoneWarning: tzname CDT identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)
/Users/robs/anaconda/envs/hackabetterworld/lib/python3.6/site-packages/dateutil/parser/_parser.py:1204: UnknownTimezoneWarning: tzname CST identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)

In [412]:
# Join tokens to create documents
text = [' '.join(i) for i in article_tokens]

In [435]:
# Doc2Vec modeling
tagged_documents = [TaggedDocument(words=word_tokenize(_d), tags=[str(i)])\
                    for i, _d in enumerate(text)]

max_epochs = 50
vector_size = 50
alpha = 0.025

model = Doc2Vec(dm=1,
                vector_size=vector_size,
                alpha=alpha, 
                min_alpha=0.0025,
                min_count=2)
  
model.build_vocab(tagged_documents)

for epoch in range(max_epochs):
    clear_output()
    print('Training iteration ' + str(epoch+1) + ' of ' + str(max_epochs) + "...")
    model.train(tagged_documents,
                total_examples=model.corpus_count,
                epochs=model.epochs)
    # decrease the learning rate
    model.alpha -= 0.0002
    # fix the learning rate, no decay
    model.min_alpha = model.alpha
    
model.save("news.model")

Training iteration 50 of 50...

In [486]:
# Measure distance between documents
document_vectors = []
for i in range(0,len(article_tokens)):
    vec = model.infer_vector(text[i])
    document_vectors.append(vec)

In [ ]:
# Generate clusters
kmeans = nltk.cluster.KMeansClusterer(cluster_num, avoid_empty_clusters=True,\
                                          distance=nltk.cluster.util.cosine_distance,\
                                          repeats=20)
clusters = kmeans.cluster(document_vectors, assign_clusters=True)
cluster_counts = pd.Series(clusters).value_counts()

In [586]:
# Describe clusters by most frequent words
top_term_list = []
for i in range(len(cluster_counts)):
    docs = np.where(np.array(clusters) == i)[0]
    terms = np.asarray(article_tokens)[docs]
    term_counts = pd.Series([item for sublist in terms for item in sublist]).value_counts()
    top_terms = term_counts.sort_values(ascending=False)[:50]
    top_term_list.append(top_terms)

In [521]:
# Cluster time series
clusterDF = pd.DataFrame({'Cluster': clusters, 'Time': parsed_dates,
                         'Month': parsed_dates.to_period('M'),
                          'Week': parsed_dates.to_period('W'),
                         'Article Count': 1})
clusterDF.sort_values(by='Time',inplace=True)
clusterDF.set_index('Time',inplace=True)
cluster_time_series = clusterDF.groupby(['Week','Cluster']).sum()

                               Article Count
Week                  Cluster
2013-12-16/2013-12-22 9                    1
2014-10-06/2014-10-12 7                    1
2015-02-16/2015-02-22 7                    1
2015-04-13/2015-04-19 6                    1
                      8                    2
2015-06-15/2015-06-21 7                    2
2015-07-06/2015-07-12 7                    1
2015-08-31/2015-09-06 5                    1
2015-10-05/2015-10-11 7                    1
2015-10-19/2015-10-25 7                    1
2015-11-16/2015-11-22 7                    1
2016-02-22/2016-02-28 9                    1
2016-04-25/2016-05-01 7                    1
2016-05-02/2016-05-08 9                    1
2016-08-22/2016-08-28 7                    1
2016-11-07/2016-11-13 7                    1
2016-12-05/2016-12-11 7                    1
2017-02-13/2017-02-19 7                    1
2017-02-20/2017-02-26 9                    1
2017-06-12/2017-06-18 7                    1
2017-07-03/2017-07-09 9                    1
2017-08-14/2017-08-20 6                    1
2017-09-25/2017-10-01 6                    1
2017-10-16/2017-10-22 7                    1
                      9                    1
2017-10-23/2017-10-29 7                    1
                      9                    1
2017-10-30/2017-11-05 7                    1
2017-11-06/2017-11-12 9                    2
2017-11-20/2017-11-26 7                    1
...                                      ...
2018-04-02/2018-04-08 8                    1
                      9                    3
2018-04-09/2018-04-15 3                    1
                      7                    4
                      8                    1
                      9                    1
2018-04-16/2018-04-22 5                    1
                      6                    2
                      7                    5
                      8                    3
                      9                    2
2018-04-23/2018-04-29 5                    1
                      6                    2
                      7                    6
                      8                    1
                      9                    7
2018-04-30/2018-05-06 3                    2
                      4                    2
                      5                    4
                      6                    9
                      7                   24
                      8                    5
                      9                   15
2018-05-07/2018-05-13 3                    2
                      4                    3
                      5                    7
                      6                   26
                      7                   61
                      8                   30
                      9                   53

[84 rows x 1 columns]